.navbar {
    padding-top: 22px;
    padding-bottom: 22px;
    
    display: flex;
    align-items: center;

}

.logo {
    height: 50px;
    width: fit-content; 
    margin-left: 20px;
    width: 250px;
}

.logo_img {
    height: 50px;
}

.searchForm {
    display: flex;
    align-items: center;
    position: relative; 
    width: 500px; 
    
}

.searchForm_input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: rgba(143, 146, 161, 0.05);
    background-color: rgba(143, 146, 161, 0.05);

    padding-left: 15px;
    padding-right: 50px;
    font-size: 16px;
    outline: none;
    padding: 16px;  
}


.searchButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon {
    font-size: 20px;
    color: gray;
}
