*{
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 32px;
    padding: 0;
    display: flex;

 
}

.inner_container{
    background-color: rgba(117, 119, 132, 0.05);
    height: 100%;
    width: 100%;
    border-radius: 30px;
}



.detail_container {
    display: flex;
    justify-content: space-between;
}

